<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <title>FIEMP</title>
    <h2 style="font-family: Georgia; text-align: center;margin-top: 15vh">Items Stock Report</h2>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">
        #button1{
            background-color: #0957C9;
            color: white
        }
        #button1:hover{
            background-color: #517EE9;
        }
    </style>
</head>
<body style="background-color: #CFFBBE;overflow: hidden">
<table border="2" align="center" style="background-color: #B8E9E4;margin-top: 7.5vh">
    <thead style="background-color: #F3E8BD;">
        <tr>
            <th>Id</th>
            <th>Item Name</th>
            <th>Stock In</th>
            <th>Stock Out</th>
            <th>Balance</th>
        </tr>
    </thead>
    <tbody>
    <tr th:each="stock : ${stockItems}" style="text-align: center" >
        <td th:text="${stock.id}">Id</td>
        <td th:text="${stock.itemName}">Item Name</td>
        <td th:text="${stock.stockIn}">Stock In</td>
        <td th:text="${stock.stockOut}">Stock Out</td>
        <td th:text="${stock.stockIn}-${stock.stockOut}">Balance</td>
    </tr>
    </tbody>
</table>
<div style="display:flex; justify-content: center; margin-top: 40px">
        <button id="button1" onclick="parent.location='/'">Go Back</button>
</div>
<div style="position: absolute;bottom: 0px;text-align: center;width: 100%;">
    <footer style="font-family: Rockwell;color: #9651B2;font-size: 18px;font-style: italic;font-weight: bold;">Developed by Vinura Chandrasekara(184024H)</footer>
</div>
</body>
</html>

